<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="/launch_academy.css">
</head>
  <body>
    <div id="header">
      Rock, Paper, Scissors
    </div>
    <div id="master_container">
      <%= yield %>
    </div>
  </body>
</html>
